.App {
  font-family: "Source Sans Pro", sans-serif;
  /*padding: 1%;*/
}

.about-header {
  font-size: 50px;
  text-align: center;
  color: #0d1f35;
}

.about {
  /*  font-size: 40px;*/
  /*width: auto;*/
  padding: 0% 5% 5% 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
}

.about img {
  opacity: 0.3;
}

.college {
  /*height: 100%;
  width: 100%;*/
  position: relative;
  border-bottom: 1px solid grey;
  align-items: center;
}

.college img {
  height: auto;
  width: 100%;
}

.college p {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Lora", serif;
  font-size: 2.5em;
  color: #1d3664;
  position: absolute;
  bottom: 20%;
  text-align: center;
}

.brooklyn {
  /*height: 100%;*/
  /*  display: grid;
  grid-template-columns: repeat(2, 1fr);*/
  position: relative;
  /*padding-top: 3%;
  padding-bottom: 3%;*/
  border-bottom: 1px solid grey;
}

.brooklyn img {
  height: auto;
  width: 100%;
}

.brooklyn p {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Indie Flower", cursive;
  font-size: 2.5em;
  /* grid-column: 1;
  grid-row: 4;*/
  font-weight: bold;
  position: absolute;
  bottom: 25%;
  text-align: center;
}

.opera {
  /*height: 100%;*/
  /*width: 100%;*/
  position: relative;
  border-bottom: 1px solid grey;
}

.opera img {
  /*margin-top: 60px;*/
  height: auto;
  width: 100%;
}

.opera p {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Kurale", serif;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  bottom: 25%;
  text-align: center;
}

.javascript {
  /*height: 100%;*/
  position: relative;
  border-bottom: 1px solid grey;
}

.javascript img {
  /*margin-top: 60px;*/
  height: 50%;
  width: 100%;
}

.javascript p {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Roboto Mono", monospace;
  font-size: 2.5em;
  color: #4169e1;
  position: absolute;
  bottom: 20%;
  text-align: center;
}

.fullstackDeveloper {
  /*height: 100%;*/
  position: relative;
  border-bottom: 1px solid grey;
}

.fullstackDeveloper img {
  /*margin-top: 60px;*/
  height: auto;
  width: 100%;
}

.fullstackDeveloper p {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "VT323", monospace;
  font-size: 2.5em;
  color: green;
  position: absolute;
  bottom: 25%;
  text-align: center;
}

.portfolio {
  text-align: center;
}

a:link {
  text-decoration: none;
}

.toolBar {
  background-color: #f9f9fa;
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1%;
}

.tool {
  padding: 1%;
  width: 200px;
}

.contact-form {
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

input[type="text"],
select,
textarea {
  width: 500px; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="submit"] {
  background: linear-gradient(#ff8033, pink);
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: linear-gradient(white, pink);
}

.namebox {
  height: 100px;
  width: 500px;
  /*grid-column: 2/3;
  grid-row: 1/2;*/
  padding: 10px;
}

.textbox {
  height: 500px;
  width: 300px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.submit {
  /*  height: 25px;
  width: 100px;*/
  /*background-color: black 50%;*/
  grid-column: 2/3;
  grid-row: 4/5;
}
